<div class="menu-container">
    <div class="card-header col-md-10">
        <h2>
            &#127881 dashboard
        </h2>
    </div>
        <div>
            <ol>
                <li>
                    dashboard
                </li>
                <li>
                    dashboard
                </li>
                <li>
                    dashboard
                </li>
                <li>
                    dashboard
                </li>
                <li>
                    dashboard
                </li>
                <li>
                    dashboard
                </li>
            </ol>
        </div>
    </div>
</div>