<div class="container mt-5">
    <h2 class="mb-4">Create a Thread</h2>
    <form class="new-blog-form">
        <div class="mb-3">
            <label for="title-new-blog" class="form-labels">Title:</label>
            <input
                type="text"
                class="form-control"
                id="title-new-blog"
                placeholder="Title"
            />
        </div>
        <div class="mb-3">
            <label for="content-new-blog" class="form-label"></label>
            <textarea
                class="form-control"
                id="content-new-blog"
                rows="3"
                placeholder="Content"
            ></textarea>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create Thread</button>
            </div>
        </div>
    </form>
</div>
